<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Data Analytics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
  <div class = "container-fluid">
      <form action="/upload/" method="POST">
                  <div class="form-group">
                    <label for="Input1">Keyword/Text</label>
                    <input type="text" class="form-control" id="Input1" name="txt" value="{{request.form.txt}}">
                  </div>
                  <button type="submit" class="btn btn-default"> Submit </button>
      </form> 
      {% with messages = get_flashed_messages() %}
          {% if messages %}
	   <ul class=flashes>
            {% for message in messages %}
                    {{message}}
            {% endfor %}
	    </ul>
          {% endif %}
       {% endwith %}
       {% block body %}{% endblock %}
  </div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
